parameters:
	mailchimpApiKey: 'someApiKey123-us11'

extensions:
	trejjam.mailchimp: Trejjam\MailChimp\DI\MailChimpExtension

trejjam.mailchimp:
	apiKey: %mailchimpApiKey%
	lists:
		testList: %mailchimpTestList%
		newsletter: foo123
		user: '123'

services:
