parameters:
	mailchimpApiKey: %ENV.MAILCHIMP_API_KEY%
	mailchimpTestList: %ENV.MAILCHIMP_TEST_LIST%

extensions:
	trejjam.mailchimp: Trejjam\MailChimp\DI\MailChimpExtension

trejjam.mailchimp:
	apiKey: %mailchimpApiKey%
	lists:
		testList: %mailchimpTestList%
		newsletter: foo123
		user: '123'

services:
