parameters:
	checkMissingIterableValueType: false
	autoload_directories:
		- %rootDir%/../../../src/
	ignoreErrors:
		- '~^Property Trejjam\\MailChimp\\Entity\\[a-zA-Z\\]+::\$[a-z]+ has no typehint specified\.$~'
		-
			message: '~^Method Trejjam\\MailChimp\\Exception\\NotFoundException::__construct\(\) has parameter \$message with no typehint specified\.$~'
			path: %currentWorkingDirectory%/src/Exception/NotFoundException.php
		-
			message: '~^Method Trejjam\\MailChimp\\Exception\\NotFoundException::__construct\(\) has parameter \$code with no typehint specified\.$~'
			path: %currentWorkingDirectory%/src/Exception/NotFoundException.php
		-
			message: '~^Method Trejjam\\MailChimp\\Entity\\AEntity::__set\(\) has parameter \$value with no typehint specified\.$~'
			path: %currentWorkingDirectory%/src/Entity/AEntity.php
		-
			message: '~^Method Trejjam\\MailChimp\\Entity\\AEntity::__get\(\) has no return typehint specified\.$~'
			path: %currentWorkingDirectory%/src/Entity/AEntity.php
		-
			message: '~^Method Trejjam\\MailChimp\\Entity\\Entries::toArray\(\) should return array<Schematic\\Entry> but returns array<array|Schematic\\Entry>\.$~'
			path: %currentWorkingDirectory%/src/Entity/Entries.php

	earlyTerminatingMethodCalls:
		Nette\Application\UI\Presenter:
			- redirect
			- redirectUrl
			- sendJson
			- sendResponse
			- sendPayload
	#disallowFloatsEverywhere: true

includes:
	- ../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- ../../vendor/phpstan/phpstan-strict-rules/rules.neon
	- ../../vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
	- ../../vendor/roave/no-floaters/rules.neon
